@use "sass:math";

// Color
$purple: hsl(239, 90%, 65%);
$purple-light: hsl(239, 90%, 85%);
$purple-lighter: hsl(239, 90%, 95%);
$purple-dark: hsl(239, 90%, 45%);

$red: hsl(0, 84%, 65%);
$red-dark: hsl(0, 84%, 45%);

$yellow: hsl(45, 93%, 65%);
$yellow-dark: hsl(45, 93%, 45%);

$green: hsl(160, 84%, 65%);
$green-dark: hsl(160, 84%, 45%);

// $green: hsl(189, 90%, 65%);
// $green-dark: hsl(189, 90%, 45%);

$grey: hsl(220, 9%, 65%);
$grey-light: hsl(220, 9%, 85%);
$grey-lighter: hsl(220, 9%, 95%);
$grey-dark: hsl(220, 9%, 45%);
$grey-darker: hsl(220, 9%, 25%);

// Sizes
$icon-m: 24px;
$icon-l: 38px;
$screen-xs: 300px;
$screen-s: 768px;
$screen-l: 1024px;
$max-width: math.div($screen-s, 2);
$min-width: $screen-xs;

// Other
$border-radius: 10px;
$border-width: 2px;
$border: $border-width solid var(--stroke);
